qiskit==2.3.1
qiskit-aer==0.17.2
qiskit-algorithms==0.4.0
qiskit-ibm-runtime==0.46.1
qiskit-optimization==0.7.0
gurobipy==13.0.1
numpy==2.4.4
scipy==1.17.1
pandas==3.0.2
matplotlib==3.10.8
qbraid
azure-quantum==3.8.0
qiskit_braket_provider==0.11.1
qsharp==1.27.0
ipykernel==7.2.0
